*::-webkit-scrollbar {
  display: inline-block;
  width: 6px;
  height: 6px
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px
}

*::-webkit-scrollbar-thumb {
  background: rgba(110,40,248,.07)
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(110,40,248,.5)
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px
}
